<div class="container">

    <h1>Jugadores</h1>

    <hr>

    <div class="row">

        {{#each players}}
        {{>playerCard}}
        {{/each}}

    </div>

    <a class="btn btn-dark" href="/">Volver a inicio</a>

</div>