<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Ironhack page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1>¡Bienvenid@ a Ironhack, {{name}}!</h1>
    <p>Puedes ver los detalles de tu reserva <a href="/detalles">en este enlace</a></p>
</body>

</html>